<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(message){ %>
        <p>
            Message: <%= message %>
        </p>
        <% } %>
    <h3>
        Selamat. Akun kamu berhasil di verifikasi.
    </h3>


    <b>silahkan <a href="http://localhost:3002/auth/login">klik</a> disini untuk masuk</b>
</body>

</html>
