<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3><center>
        Hello <%= user.name %>, welcome to the Terbang Tinggi website.
    </center></h3>


    <b><center>Please <a href="<%= user.link %>">click</a> here to verify your email</center></b>
</body>

</html>
