<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Student Report</h5>
                <table>
                
                       <tr><td><%= flight.name %></td></tr>
                   
                </table>
             </div>
        </div>
    </body>
</html>