<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/reset-password" method="POST">
        <div>
            <label style="color:red;font-family:sans">Password 1</label>
        </br>
            <input type="text" name="passwordBaru" placeholder="password 1">
        </div>
        <div>
            <label style="color:red;font-family:sans">Password 2</label>
        </br>
            <input type="text" name="passwordBaru2" placeholder="password 2">
        </div>
    </br>
        <input type="submit">
    </form>
</body>
</html>